<div class="login__wrapper">
  <img src="../../../../assets/login-logo.png" class="login__logo" alt="login logo">
  <div class="login__form">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="fw-bold">Cambia Tu Contrasena</h1>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <mat-form-field appearance="outline" class="unique__input--item">
              <mat-label>Nueva Contrasena</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Nueva Contrasena" autocomplete="off">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-12 text-center">
            <mat-form-field appearance="outline" class="unique__input--item">
              <mat-label>Confirmar Contrasena</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirmar Contrasena" autocomplete="off">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 text-center">
          <button mat-flat-button class="login__button">
            Cambiar Contrasena
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
