.badge {
  color: black;
  background-color: #F6DD06;
  border: 1px solid black;
  border-radius: 15px;
}

.profile__wrapper {
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 15px;
  min-height: 700px;
}

.action-button {
  color: #333232;
  background-color: #F6DD06;
}

@media screen and (max-width: 450px) {
  .profile__wrapper {
    padding: 0;
  }
  .rules-image {
    max-width: 250px;
  }
}

/*@media screen and (max-width: 990px) {*/
/*  ::ng-deep.fixed-wrapper {*/
/*    min-width: 1200px !important;*/
/*  }*/
/*}*/



.action-button {
  background-color: #F6DD06;
  color: black;
}

.home__link:hover {
  color: #F6DD06;
  cursor: pointer;
}

td, th {
  width: 15%;
}

.id {
  width: 5%;
}

.status {
  width: 10%;
}

.username {
  width: 12%;
}

.name {
  width: 10%;
}

.email {
  width: 20%;
}

.lastLogin {
  width: 10%;
}

.opts {
  width: 10%;
}
