.badge {
  color: black;
  background-color: #F6DD06;
  border: 1px solid black;
  border-radius: 15px;
}

.profile__wrapper {
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 15px;
}

.home__link:hover {
  color: #F6DD06;
  cursor: pointer;
}
