<div class="d-flex justify-content-between text-white m-4">
  <div class="d-flex align-items-center">
    <h1 class="m-0">Calendario de Quinielas</h1> <span class="mt-2 mx-4 badge">Vista</span>
  </div>
  <div class="d-flex align-items-center">
    <div class="d-flex align-items-center home__link" routerLink="/home">
      <mat-icon>home</mat-icon>
      <h3 class="m-0">Home</h3>
    </div>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <h3 class="m-0">Calendario de Quinielas</h3>
  </div>
</div>

<div class="container py-3">
  <div class="calendar__wrapper">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>
