.calendar__wrapper {
  background-color: white;
  padding: 1rem;
  border-radius: 25px;
}

@media screen and (max-width: 990px){
  .calendar__wrapper {
    min-width: 1200px;
  }
}

.home__link:hover {
  color: #F6DD06;
  cursor: pointer;
}

.badge {
  color: black;
  background-color: #F6DD06;
  border: 1px solid black;
  border-radius: 15px;
}
