.title {
  color: white;
  margin: 1rem 0;
}

.yellow-title {
  color: #F6DD06;
  margin: 1rem 0;
}

.subtitle {
  color: #F6DD06;
}

.group-container {
  background-color: white;
  color: black;
  margin: 0 0 1rem 0;
  border-radius: 15px;
}


.group {
  margin: 1rem 0;
  border-right: 1px solid lightgray;
}

.group-title {
  background-color: #F6DD06;
  font-weight: bold;
  padding: .75rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.teams {
  display: flex;
  justify-content: space-between;
}

.team-score {
  width: 30px;
  text-align: center;
}

.team-title {
  font-size: 12px;
}
table {
  width: 100%;
}

.table-header {
  background-color: lightgray;
  font-weight: bold;
  font-size: 14px;
}


.name {
  width: 35%;
  border-right: 1px solid lightgray;
}

.id {
  width: 8%;
  text-align: center;
  border-right: 1px solid lightgray;
}

.data {
  border-right: 1px solid lightgray;
  text-align: center;
}


.vs {
  margin-top: .75rem;
}

@media (max-width: 990px) {
  .teams {
    border-bottom: 1px solid lightgray !important;
    padding-bottom: 1rem !important;
  }
}

.playoffs-wrapper {
  background-color: #3e3e3e;
  padding: 1rem 0;
  margin: 1rem 0;
  border-radius: 25px;
}

@media screen and (max-width: 992px) {
  .playoffs-wrapper {
    min-width: 1200px;
  }
}

.col-name {
  text-align: center;
}

.col-name > h2 {
  color: #F6DD06;
  font-weight: bold;
}

.teams-group {
  margin-bottom: 3rem;
}

.team {
  margin-bottom: 1rem;
}

.team-image {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  margin-right: 1rem;
}

.team-info {
  background-color: gray;
  padding: 0.5rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.champion {
  background-color: #F6DD06;
  padding: 0.5rem;
  border-radius: 15px;
}

.team-info > p {
  font-size: 12px;
}

.input {
  width: 30px;
  background-color: black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

