<div class="container-lg">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="title">Quiniela Mensual Copa America</h1>
      <h2 class="subtitle">Fase De Grupos</h2>
    </div>
    <div class="col-12 col-lg-6 text-center text-white">
      <h2>Grupo A</h2>
      <div class="group-container row">
        <div class="col-12 group-title">
          <h3 class="m-0">Fecha 1</h3>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
      </div>
      <div class="group-container row">
        <div class="col-12 group-title">
          <h3 class="m-0">Fecha 1</h3>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
      </div>
      <div class="group-container row">
        <div class="col-12 group-title">
          <h3 class="m-0">Fecha 1</h3>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
      </div>
      <div class="group-container row">
        <div class="col-12 group-title">
          <h3 class="m-0">Fecha 1</h3>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 text-center text-white">
      <h2>Grupo B</h2>
      <div class="group-container row">
        <div class="col-12 group-title">
          <h3 class="m-0">Fecha 1</h3>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
      </div>
      <div class="group-container row">
        <div class="col-12 group-title">
          <h3 class="m-0">Fecha 1</h3>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
      </div>
      <div class="group-container row">
        <div class="col-12 group-title">
          <h3 class="m-0">Fecha 1</h3>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
      </div>
      <div class="group-container row">
        <div class="col-12 group-title">
          <h3 class="m-0">Fecha 1</h3>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 text-center group">
          <h4>04/12/2021</h4>
          <div class="teams">
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Barcelona</h4>
              <input type="text" class="team-score">
            </div>
            <div class="vs">
              <h2 class="m-0">VS</h2>
            </div>
            <div class="team">
              <img src="../../../../assets/default-team-logo.png" width="50" alt="">
              <h4 class="m-0 team-title">Real Madrid</h4>
              <input type="text" class="team-score">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="title">Tabla de Posicion</h1>
    </div>
    <div class="col-12 col-lg-6 text-white mb-5">
      <div class="text-center">
        <h2 class="text-white"> Grupo A</h2>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="rowid">
          <th class="id table-header p-0" mat-header-cell *matHeaderCellDef> ID </th>
          <td class="id p-0" mat-cell *matCellDef="let row"> {{row.rowid}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th class="name table-header"mat-header-cell *matHeaderCellDef> Nombre </th>
          <td class="name"mat-cell *matCellDef="let row">
            <span>
              <img [src]="row.image" class="mx-2" width="25" height="25" alt="">
            </span>
            <span>{{row.name}}</span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data1">
          <th class="data table-header" mat-header-cell *matHeaderCellDef> Pts </th>
          <td class="data" mat-cell *matCellDef="let row"> {{row.data1}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data2">
          <th class="data table-header" mat-header-cell *matHeaderCellDef> Pts </th>
          <td class="data" mat-cell *matCellDef="let row"> {{row.data2}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data3">
          <th class="data table-header" mat-header-cell *matHeaderCellDef> Pts </th>
          <td class="data" mat-cell *matCellDef="let row"> {{row.data3}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data4">
          <th class="data table-header" mat-header-cell *matHeaderCellDef> Pts </th>
          <td class="data" mat-cell *matCellDef="let row"> {{row.data4}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data5">
          <th class="data table-header" mat-header-cell *matHeaderCellDef> Pts </th>
          <td class="data" mat-cell *matCellDef="let row"> {{row.data5}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data6">
          <th class="data table-header" mat-header-cell *matHeaderCellDef> Pts </th>
          <td class="data" mat-cell *matCellDef="let row"> {{row.data6}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data7">
          <th class="data table-header" mat-header-cell *matHeaderCellDef> Pts </th>
          <td class="data" mat-cell *matCellDef="let row"> {{row.data7}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data8">
          <th class="text-center table-header p-0" mat-header-cell *matHeaderCellDef> Total </th>
          <td class="text-center p-0" mat-cell *matCellDef="let row"> {{row.data8}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    <div class="col-12 col-lg-6 text-white mb-5">
      <div class="text-center">
        <h2 class="text-white"> Grupo B</h2>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="rowid">
          <th class="id table-header p-0" mat-header-cell *matHeaderCellDef> ID </th>
          <td class="id p-0" mat-cell *matCellDef="let row"> {{row.rowid}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th class="name table-header"mat-header-cell *matHeaderCellDef> Nombre </th>
          <td class="name"mat-cell *matCellDef="let row">
            <span>
              <img [src]="row.image" class="mx-2" width="25" height="25" alt="">
            </span>
            <span>{{row.name}}</span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data1">
          <th class="data table-header" mat-header-cell *matHeaderCellDef> Pts </th>
          <td class="data" mat-cell *matCellDef="let row"> {{row.data1}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data2">
          <th class="data table-header" mat-header-cell *matHeaderCellDef> Pts </th>
          <td class="data" mat-cell *matCellDef="let row"> {{row.data2}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data3">
          <th class="data table-header" mat-header-cell *matHeaderCellDef> Pts </th>
          <td class="data" mat-cell *matCellDef="let row"> {{row.data3}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data4">
          <th class="data table-header" mat-header-cell *matHeaderCellDef> Pts </th>
          <td class="data" mat-cell *matCellDef="let row"> {{row.data4}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data5">
          <th class="data table-header" mat-header-cell *matHeaderCellDef> Pts </th>
          <td class="data" mat-cell *matCellDef="let row"> {{row.data5}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data6">
          <th class="data table-header" mat-header-cell *matHeaderCellDef> Pts </th>
          <td class="data" mat-cell *matCellDef="let row"> {{row.data6}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data7">
          <th class="data table-header" mat-header-cell *matHeaderCellDef> Pts </th>
          <td class="data" mat-cell *matCellDef="let row"> {{row.data7}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data8">
          <th class="text-center table-header p-0" mat-header-cell *matHeaderCellDef> Total </th>
          <td class="text-center p-0" mat-cell *matCellDef="let row"> {{row.data8}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="yellow-title">Fase de Eliminacion</h1>
    </div>
    <app-battle-table [round]="fakeRoundData" [category]="category" ></app-battle-table>
  </div>
</div>
