<div class="login__wrapper">
  <img src="../../../../assets/login-logo.png" class="login__logo" alt="login logo">
  <div class="login__form">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="fw-bold">Olvide Mi Contrasena</h1>
        </div>
        <div class="col-12">
          <p></p>
        </div>
        <div class="col-12">
          <form [formGroup]="forgotPasswordForm" (submit)="sendPassword()" (keyup.enter)="sendPassword()">
            <mat-form-field appearance="outline" class="login__form--input">
              <mat-label>Correo Electronico</mat-label>
              <input matInput formControlName="email" placeholder="Ej. correo@correo.com" autocomplete="off"  required>
              <mat-icon matPrefix>alternate_email</mat-icon>
              <mat-error>Este Campo es <b>Requerido</b>.</mat-error>
            </mat-form-field>
            <div class="col-12 text-center">
              <button mat-flat-button class="login__button" type="submit" [disabled]="!forgotPasswordForm.valid">
                Enviar Contrasena
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
