<app-breadcrumb [icon]="'schedule'" [currentView]="'Registro a Quiniela'"></app-breadcrumb>
<div class="container-lg " *ngIf="pool !== undefined && pool !== null">
  <div class="row text-center text-white">
    <h1>{{ pool ? pool.name : 'cargando...' }}</h1>
  </div>
  <div >
    <div *ngFor="let match of matches">
      <div class="row pool-box d-none d-md-flex">
        <div class="col-12">
          <h1>{{match.title}}</h1>
        </div>
        <div class="col-8 border-right">
          <div class="row">
            <div class="col-5 d-flex justify-content-around align-items-center">
              <div class="text-center">
                <img
                  [matTooltip]="match.teamName1"
                  [src]="match.image1 !== '' ? (this.imagePath + '/images/' + match.image1) : '../../../../assets/default-team-logo.png'"
                  class="team-image" alt="">
<!--                <p class="team-text">{{match.teamName1}}</p>-->
              </div>
              <input type="number" [disabled]="pool.status === 0" [(ngModel)]="match.resultTeam1"
                     [ngModelOptions]="{standalone: true}" class="input">
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
              <p style="font-size: 26px">VS</p>
            </div>
            <div class="col-5 d-flex justify-content-around align-items-center">
              <input type="number" [disabled]="pool.status === 0" [(ngModel)]="match.resultTeam2"
                     [ngModelOptions]="{standalone: true}" class="input">
              <div class="text-center">
                <img
                  [matTooltip]="match.teamName2"
                  [src]="match.image2 !== '' ? (this.imagePath + '/images/' + match.image2) : '../../../../assets/default-team-logo.png'"
                  class="team-image" alt="">

<!--                <p class="team-text">{{match.teamName2}}</p>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
          <div>
            <h2>{{match.date}}</h2>
            <h2>{{match.time}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let match of matches">
      <div class="row pool-box d-block d-md-none">
        <div class="col-12 text-center">
          <h1 class="fw-bold">{{match.title}}</h1>
        </div>
        <div class="col-12 text-center">
          <p>{{match.date}}</p>
          <p>{{match.time}}</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-5">
              <div class="d-flex align-items-center">
                <img
                  [matTooltip]="match.teamName1"
                  [src]="match.image1 !== '' ? (this.imagePath + '/images/' + match.image1) : '../../../../assets/default-team-logo.png'"
                  class="team-image" style="margin-right: 1rem;" alt="">
<!--                <p class="team-text">{{match.teamName1}}</p>-->
                <input type="number" [disabled]="pool.status === 0" [(ngModel)]="match.resultTeam1"
                       [ngModelOptions]="{standalone: true}" class="input">
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
              <p style="font-size: 26px">VS</p>
            </div>
            <div class="col-5 ">
              <div class="d-flex align-items-center flex-row-reverse">
                <img
                  [matTooltip]="match.teamName1"
                  [src]="match.image2 !== '' ? (this.imagePath + '/images/' + match.image2) : '../../../../assets/default-team-logo.png'"
                  class="team-image" style="margin-left: 1rem;" alt="">

<!--                <p class="team-text">{{match.teamName2}}</p>-->
                <input type="number" [disabled]="pool.status === 0" [(ngModel)]="match.resultTeam2"
                       [ngModelOptions]="{standalone: true}" class="input">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="pool.league === 'generic'" class="row">
    <div class="col-12 text-center">
      <h1 class="yellow-title">Fase de Eliminacion</h1>
    </div>
    <!--    <app-battle-table [round]="fakeRoundData" [category]="category" ></app-battle-table>-->
    <div class="playoffs-wrapper">
      <div class="row">
        <div class="col-3" *ngIf="pool.tournamentType === '8vos'">
          <div class="col-name">
            <h2>octavos de Final</h2>
          </div>
        </div>
        <div class="col-3">
          <div class="col-name">
            <h2>Cuartos de Final</h2>
          </div>
        </div>
        <div class="col-3">
          <div class="col-name">
            <h2>Semifinales</h2>
          </div>
        </div>
        <div class="col-3">
          <div class="col-name">
            <h2>Final</h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-3" *ngIf="pool.tournamentType === '8vos' ">
          <div *ngFor="let match of finalEighths, index as i">
            <div class="teams-group">
              <div class="team row px-3">
                <div class="col-8 d-flex align-items-center team-info ">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Selecciona un equipo</mat-label>
                    <mat-select [(ngModel)]="match.team1" (selectionChange)="handleSelectTeam($event, match)">
                      <mat-option *ngFor="let team of teams" [value]="team.rowid">
                        {{team.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 dark-input d-flex align-items-center justify-content-center">
                  <!--                  <p class="text-white fw-bold m-0">{{ round.result_team_1 }}</p>-->
                  <input type="number" (change)="handleResult($event, finalEighths, match,  i)" class="text-white  fw-bold m-0" [(ngModel)]="match.resultTeam1">
                </div>
<!--                <div *ngIf="match.resultTeam1 === match.resultTeam2" class="col-2 penalty">-->
<!--                  <p class="text-white m-0">P</p>-->
<!--                  <div class=" d-flex align-items-center justify-content-center penalty w-100">-->
<!--                    <input type="number" class="mt-2  fw-bold m-0" [(ngModel)]="match.penalty1">-->
<!--                  </div>-->
<!--                </div>-->
              </div>
              <div class="team row px-3">
                <div class="col-8 d-flex align-items-center team-info ">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Selecciona un equipo</mat-label>
                    <mat-select [(ngModel)]="match.team2" (selectionChange)="handleSelectTeam($event, match)">
                      <mat-option *ngFor="let team of teams" [value]="team.rowid">
                        {{team.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 dark-input d-flex align-items-center justify-content-center">
                  <!--                  <p class="text-white fw-bold m-0">{{ round.result_team_2 }}</p>-->
                  <input type="number" (change)="handleResult($event, finalEighths, match,  i)" class="text-white  fw-bold m-0" [(ngModel)]="match.resultTeam2">
                </div>
<!--                <div *ngIf="match.resultTeam1 === match.resultTeam2" class="col-2 penalty">-->
<!--                  <p class="text-white m-0">P</p>-->
<!--                  <div class=" d-flex align-items-center justify-content-center penalty w-100">-->
<!--                    <input type="number" class="mt-2  fw-bold m-0" [(ngModel)]="match.penalty2">-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div *ngFor="let match of finalQuarters, index as i">
            <div class="teams-group">
              <div class="team row px-3">
                <div class="col-8 d-flex align-items-center team-info ">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Selecciona un equipo</mat-label>
                    <mat-select [(ngModel)]="match.team1" (selectionChange)="handleSelectTeam($event, match)">
                      <mat-option *ngFor="let team of teams" [value]="team.rowid">
                        {{team.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <div class="col-2 dark-input d-flex align-items-center justify-content-center">
                  <!--                  <p class="text-white fw-bold m-0">{{ round.result_team_1 }}</p>-->
                  <input type="number" (change)="handleResult($event, finalQuarters, match,  i)" class="text-white  fw-bold m-0" [(ngModel)]="match.resultTeam1">
                </div>
<!--                <div *ngIf="match.resultTeam1 === match.resultTeam2" class="col-2 penalty">-->
<!--                  <p class="text-white m-0">P</p>-->
<!--                  <div class=" d-flex align-items-center justify-content-center penalty w-100">-->
<!--                    <input type="number"  class="mt-2  fw-bold m-0" [(ngModel)]="match.penalty1">-->
<!--                  </div>-->
<!--                </div>-->
              </div>
              <div class="team row px-3">
                <div class="col-8 d-flex align-items-center team-info ">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Selecciona un equipo</mat-label>
                    <mat-select [(ngModel)]="match.team2" (selectionChange)="handleSelectTeam($event, match)">
                      <mat-option *ngFor="let team of teams" [value]="team.rowid">
                        {{team.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 dark-input d-flex align-items-center justify-content-center">
                  <!--                  <p class="text-white fw-bold m-0">{{ round.result_team_2 }}</p>-->
                  <input type="number" (change)="handleResult($event, finalQuarters, match,  i)" class="text-white  fw-bold m-0" [(ngModel)]="match.resultTeam2">
                </div>
<!--                <div *ngIf="match.resultTeam1 === match.resultTeam2" class="col-2 penalty">-->
<!--                  <p class="text-white m-0">P</p>-->
<!--                  <div class=" d-flex align-items-center justify-content-center penalty w-100">-->
<!--                    <input type="number"  class="mt-2  fw-bold m-0" [(ngModel)]="match.penalty2">-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">

          <div *ngFor="let match of semifinals, index as i" style="margin-top: 8rem">
            <div class="teams-group">
              <div class="team row px-3">
                <div class="col-8 d-flex align-items-center team-info ">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Selecciona un equipo</mat-label>
                    <mat-select [(ngModel)]="match.team1" (selectionChange)="handleSelectTeam($event, match)">
                      <mat-option *ngFor="let team of teams" [value]="team.rowid">
                        {{team.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <div class="col-2 dark-input d-flex align-items-center justify-content-center">
                  <!--                  <p class="text-white fw-bold m-0">{{ round.result_team_1 }}</p>-->
                  <input type="number" (change)="handleResult($event, semifinals, match,  i)" class="text-white  fw-bold m-0" [(ngModel)]="match.resultTeam1">
                </div>
<!--                <div *ngIf="match.resultTeam1 === match.resultTeam2" class="col-2 penalty">-->
<!--                  <p class="text-white m-0">P</p>-->
<!--                  <div class=" d-flex align-items-center justify-content-center penalty w-100">-->
<!--                    <input type="number" class="mt-2  fw-bold m-0" [(ngModel)]="match.penalty1">-->
<!--                  </div>-->
<!--                </div>-->
              </div>
              <div class="team row px-3">
                <div class="col-8 d-flex align-items-center team-info ">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Selecciona un equipo</mat-label>
                    <mat-select [(ngModel)]="match.team2" (selectionChange)="handleSelectTeam($event, match)">
                      <mat-option *ngFor="let team of teams" [value]="team.rowid">
                        {{team.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 dark-input d-flex align-items-center justify-content-center">
                  <!--                  <p class="text-white fw-bold m-0">{{ round.result_team_2 }}</p>-->
                  <input type="number" (change)="handleResult($event, semifinals, match,  i)" class="text-white  fw-bold m-0" [(ngModel)]="match.resultTeam2">
                </div>
<!--                <div *ngIf="match.resultTeam1 === match.resultTeam2" class="col-2 penalty">-->
<!--                  <p class="text-white m-0">P</p>-->
<!--                  <div class=" d-flex align-items-center justify-content-center penalty w-100">-->
<!--                    <input type="number"  class="mt-2  fw-bold m-0" [(ngModel)]="match.penalty2">-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">

          <div *ngFor="let match of final, index as i" style="margin-top: 16rem">
            <div class="teams-group">
              <div class="team row px-3">
                <div class="col-8 d-flex align-items-center team-info ">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Selecciona un equipo</mat-label>
                    <mat-select [(ngModel)]="match.team1" (selectionChange)="handleSelectTeam($event, match)">
                      <mat-option *ngFor="let team of teams" [value]="team.rowid">
                        {{team.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 dark-input d-flex align-items-center justify-content-center">
                  <!--                  <p class="text-white fw-bold m-0">{{ round.result_team_1 }}</p>-->
                  <input type="number" (change)="handleResult($event, final, match,  i)" class="text-white  fw-bold m-0" [(ngModel)]="match.resultTeam1">
                </div>
<!--                <div *ngIf="match.resultTeam1 === match.resultTeam2" class="col-2 penalty">-->
<!--                  <p class="text-white m-0">P</p>-->
<!--                  <div class=" d-flex align-items-center justify-content-center penalty w-100">-->
<!--                    <input type="number"  class="mt-2  fw-bold m-0" [(ngModel)]="match.penalty1">-->
<!--                  </div>-->
<!--                </div>-->
              </div>
              <div class="team row px-3">
                <div class="col-8 d-flex align-items-center team-info ">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Selecciona un equipo</mat-label>
                    <mat-select [(ngModel)]="match.team2" (selectionChange)="handleSelectTeam($event, match)">
                      <mat-option *ngFor="let team of teams" [value]="team.rowid">
                        {{team.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 dark-input d-flex align-items-center justify-content-center">
                  <!--                  <p class="text-white fw-bold m-0">{{ round.result_team_2 }}</p>-->
                  <input type="number" (change)="handleResult($event, final, match,  i)" class="text-white  fw-bold m-0" [(ngModel)]="match.resultTeam2">
                </div>
<!--                <div *ngIf="match.resultTeam1 === match.resultTeam2" class="col-2 penalty">-->
<!--                  <p class="text-white m-0">P</p>-->
<!--                  <div class=" d-flex align-items-center justify-content-center penalty w-100">-->
<!--                    <input type="number"  class="mt-2  fw-bold m-0" [(ngModel)]="match.penalty2">-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>
          </div>
          <div class="teams-group" *ngFor="let anotherMatch of thirdPosition, index as i">
            <div class="col-name">
              <h2>Mejor Tercero</h2>
            </div>
            <div class="team row px-3">
              <div class="col-8 d-flex align-items-center team-info ">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Selecciona un equipo</mat-label>
                  <mat-select [(ngModel)]="anotherMatch.team1" (selectionChange)="handleSelectTeam($event, anotherMatch)">
                    <mat-option *ngFor="let team of teams" [value]="team.rowid">
                      {{team.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-2 dark-input d-flex align-items-center justify-content-center">
                <!--                  <p class="text-white fw-bold m-0">{{ round.result_team_1 }}</p>-->
                <input type="number" (change)="handleResult($event, thirdPosition, anotherMatch,  i)" class="text-white  fw-bold m-0" [(ngModel)]="anotherMatch.resultTeam1">
              </div>
<!--              <div *ngIf="anotherMatch.resultTeam1 === anotherMatch.resultTeam2" class="col-2 penalty">-->
<!--                <p class="text-white m-0">P</p>-->
<!--                <div class=" d-flex align-items-center justify-content-center penalty w-100">-->
<!--                  <input type="number"   class="mt-2  fw-bold m-0" [(ngModel)]="anotherMatch.penalty1">-->
<!--                </div>-->
<!--              </div>-->
            </div>
            <div class="team row px-3">
              <div class="col-8 d-flex align-items-center team-info ">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Selecciona un equipo</mat-label>
                  <mat-select [(ngModel)]="anotherMatch.team2 " (selectionChange)="handleSelectTeam($event, anotherMatch)">
                    <mat-option *ngFor="let team of teams" [value]="team.rowid">
                      {{team.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-2 dark-input d-flex align-items-center justify-content-center">
                <!--                  <p class="text-white fw-bold m-0">{{ round.result_team_2 }}</p>-->
                <input type="number" (change)="handleResult($event, thirdPosition, anotherMatch,  i)" class="text-white  fw-bold m-0" [(ngModel)]="anotherMatch.resultTeam2">
              </div>
<!--              <div *ngIf="anotherMatch.resultTeam1 === anotherMatch.resultTeam2" class="col-2 penalty">-->
<!--                <p class="text-white m-0">P</p>-->
<!--                <div class=" d-flex align-items-center justify-content-center penalty w-100">-->
<!--                  <input type="number" class="mt-2  fw-bold m-0" [(ngModel)]="anotherMatch.penalty2">-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div *ngIf="pool.league === 'Copa America'" class="row">
    <div class="col-12 text-center">
      <h1 class="yellow-title">Fase de Eliminacion</h1>
    </div>
    <!--    <app-battle-table [round]="fakeRoundData" [category]="category" ></app-battle-table>-->
    <div class="playoffs-wrapper">
      <div class="row">
        <div class="col-3">
          <div class="col-name">
            <h2>Cuartos de Final</h2>
          </div>
          <div *ngFor="let match of finalQuarters">
            <div class="teams-group">
              <div class="team row px-3">
                <div class="col-8 d-flex align-items-center team-info ">
                  <mat-form-field appearance="outline">
                    <mat-label>Selecciona un equipo</mat-label>
                    <mat-select [(ngModel)]="match.team1" (selectionChange)="handleSelectTeam($event, match)">
                      <mat-option *ngFor="let team of teams" [value]="team.rowid">
                        {{team.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 dark-input d-flex align-items-center justify-content-center">
<!--                  <p class="text-white fw-bold m-0">{{ round.result_team_1 }}</p>-->
                  <input type="number" class="text-white  fw-bold m-0" [(ngModel)]="match.resultTeam1">
                </div>
              </div>
              <div class="team row px-3">
                <div class="col-8 d-flex align-items-center team-info ">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Selecciona un equipo</mat-label>
                    <mat-select [(ngModel)]="match.team2" (selectionChange)="handleSelectTeam($event, match)">
                      <mat-option *ngFor="let team of teams" [value]="team.rowid">
                        {{team.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 dark-input d-flex align-items-center justify-content-center">
<!--                  <p class="text-white fw-bold m-0">{{ round.result_team_2 }}</p>-->
                  <input type="number" class="text-white  fw-bold m-0" [(ngModel)]="match.resultTeam2">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="col-name">
            <h2>Semifinales</h2>
          </div>
          <div *ngFor="let match of semifinals" style="margin-top: 8rem">
            <div class="teams-group">
              <div class="team row px-3">
                <div class="col-8 d-flex align-items-center team-info ">
                  <mat-form-field appearance="outline">
                    <mat-label>Selecciona un equipo</mat-label>
                    <mat-select [(ngModel)]="match.team1" (selectionChange)="handleSelectTeam($event, match)">
                      <mat-option *ngFor="let team of teams" [value]="team.rowid">
                        {{team.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 dark-input d-flex align-items-center justify-content-center">
<!--                  <p class="text-white fw-bold m-0">{{ round.result_team_1 }}</p>-->
                  <input type="number" class="text-white  fw-bold m-0" [(ngModel)]="match.resultTeam1">
                </div>
              </div>
              <div class="team row px-3">
                <div class="col-8 d-flex align-items-center team-info ">
                  <mat-form-field appearance="outline">
                    <mat-label>Selecciona un equipo</mat-label>
                    <mat-select [(ngModel)]="match.team2" (selectionChange)="handleSelectTeam($event, match)">
                      <mat-option *ngFor="let team of teams" [value]="team.rowid">
                        {{team.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 dark-input d-flex align-items-center justify-content-center">
<!--                  <p class="text-white fw-bold m-0">{{ round.result_team_2 }}</p>-->
                  <input type="number" class="text-white  fw-bold m-0" [(ngModel)]="match.resultTeam2">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="col-name">
            <h2>Final</h2>
          </div>
          <div *ngFor="let match of final" style="margin-top: 16rem">
            <div class="teams-group">
              <div class="team row px-3">
                <div class="col-8 d-flex align-items-center team-info ">
                  <mat-form-field appearance="outline">
                    <mat-label>Selecciona un equipo</mat-label>
                    <mat-select [(ngModel)]="match.team1" (selectionChange)="handleSelectTeam($event, match)">
                      <mat-option *ngFor="let team of teams" [value]="team.rowid">
                        {{team.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 dark-input d-flex align-items-center justify-content-center">
<!--                  <p class="text-white fw-bold m-0">{{ round.result_team_1 }}</p>-->
                  <input type="number" class="text-white  fw-bold m-0" [(ngModel)]="match.resultTeam1">
                </div>
              </div>
              <div class="team row px-3">
                <div class="col-8 d-flex align-items-center team-info ">
                  <mat-form-field appearance="outline">
                    <mat-label>Selecciona un equipo</mat-label>
                    <mat-select [(ngModel)]="match.team2" (selectionChange)="handleSelectTeam($event, match)">
                      <mat-option *ngFor="let team of teams" [value]="team.rowid">
                        {{team.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 dark-input d-flex align-items-center justify-content-center">
<!--                  <p class="text-white fw-bold m-0">{{ round.result_team_2 }}</p>-->
                  <input type="number" class="text-white  fw-bold m-0" [(ngModel)]="match.resultTeam2">
                </div>
              </div>
            </div>
          </div>
          <div class="teams-group" *ngFor="let anotherMatch of thirdPosition, index as i">
            <div class="col-name">
              <h2>Mejor Tercero</h2>
            </div>
            <div class="team row px-3">
              <div class="col-8 d-flex align-items-center team-info ">
                <mat-form-field appearance="outline">
                  <mat-label>Selecciona un equipo</mat-label>
                  <mat-select [(ngModel)]="anotherMatch.team1" (selectionChange)="handleSelectTeam($event, anotherMatch)">
                    <mat-option *ngFor="let team of teams" [value]="team.rowid">
                      {{team.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-2 dark-input d-flex align-items-center justify-content-center">
                <!--                  <p class="text-white fw-bold m-0">{{ round.result_team_1 }}</p>-->
                <input type="number" (change)="handleResult($event, thirdPosition, anotherMatch,  i)" class="text-white  fw-bold m-0" [(ngModel)]="anotherMatch.resultTeam1">
              </div>
<!--              <div *ngIf="anotherMatch.resultTeam1 === anotherMatch.resultTeam2" class="col-2 penalty">-->
<!--                <p class="text-white m-0">P</p>-->
<!--                <div class=" d-flex align-items-center justify-content-center penalty w-100">-->
<!--                  <input type="number"   class="mt-2  fw-bold m-0" [(ngModel)]="anotherMatch.penalty1">-->
<!--                </div>-->
<!--              </div>-->
            </div>
            <div class="team row px-3">
              <div class="col-8 d-flex align-items-center team-info ">
                <mat-form-field appearance="outline">
                  <mat-label>Selecciona un equipo</mat-label>
                  <mat-select [(ngModel)]="anotherMatch.team2 " (selectionChange)="handleSelectTeam($event, anotherMatch)">
                    <mat-option *ngFor="let team of teams" [value]="team.rowid">
                      {{team.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-2 dark-input d-flex align-items-center justify-content-center">
                <!--                  <p class="text-white fw-bold m-0">{{ round.result_team_2 }}</p>-->
                <input type="number" (change)="handleResult($event, thirdPosition, anotherMatch,  i)" class="text-white  fw-bold m-0" [(ngModel)]="anotherMatch.resultTeam2">
              </div>
<!--              <div *ngIf="anotherMatch.resultTeam1 === anotherMatch.resultTeam2" class="col-2 penalty">-->
<!--                <p class="text-white m-0">P</p>-->
<!--                <div class=" d-flex align-items-center justify-content-center penalty w-100">-->
<!--                  <input type="number" class="mt-2  fw-bold m-0" [(ngModel)]="anotherMatch.penalty2">-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="d-flex justify-content-center mt-3" style="margin-bottom: 20rem" >
    <button *ngIf="pool.status === 1" mat-flat-button class="submit" (click)="registerValues()">Guardar resultados!</button>
    <button *ngIf="pool.status !== 1"  style="margin-bottom: 1rem" disabled  class="submit">Esta quiniela no esta habilitada!</button>
  </div>


</div>
