.pool-box {
  background-color: lightgray;
  padding: 1rem !important;
  margin: 1rem 0;
}

.team-image {
  width: 75px;
  height: 75px;
}

.min-height {
  min-height: 700px;
}

.input {
  width: 30px;
  height: 30px;
}

.border-right {
  border-right: 1px solid gray;
}

.separator {
  color: white;
  background-color: white;
  margin: 1rem 0;
}

.submit {
  background-color: #F6DD06;
  color: black;
  font-size: 20px;
  padding: 0.5rem 4rem;
}

.team-text {
  inline-size: 157px;
  overflow-wrap: break-word;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 760px) {
  .team-text {
    inline-size: auto;
    font-size: 16px !important;
    font-weight: normal !important;
  }
}


