<div class="footer-helper"></div>
<div class="footer">
  <div class="footer__options row">
    <div class="footer__options--item col col-md-6 text-center">
      <h1>Contact us</h1>
      <a href="" class="email" >
        info@getluck.com
      </a>
    </div>
    <div class="footer__options--item col col-md-6 text-center">
      <h1>Social</h1>
      <div class="d-flex align-items-center justify-content-center">
        <a href="">
          <img src="../../../../assets/instagram.png" class="social__media--icon" alt="">
        </a>
        <a href="">
          <img src="../../../../assets/facebook.png" class="social__media--icon" alt="">
        </a>
        <a href="">
          <img src="../../../../assets/whatsapp.png" class="social__media--icon" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
