<div class="d-flex justify-content-between align-items-center text-white m-4">
  <div class="d-flex align-items-center">
    <mat-icon class="mx-3">home</mat-icon>
    <h1 class="m-0">Inicio</h1></div>
  <div class="d-flex align-items-center">
    <h3 class="home__link">Coins</h3>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <h3 class="home__link">Balance</h3>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <h3 class="home__link">Recargar</h3>
  </div>
</div>
<div class="container mb-4">
  <div class="row text-center">
    <div class="col-12 col-md-4">
      <div class="home__banner--item" routerLink="football-pools">
        Quinielas Disponibles
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="home__banner--item" routerLink="clients/list-of-clients">
        Usuarios Activos
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="home__banner--item" routerLink="calendar">
        Calendario
      </div>
    </div>
  </div>

  <div class="mt-5 pt-5">
    <div class="row">
      <div class="col-12 col-xl-6 ">
        <div class="current-pools">
          <div class="current__pools--header">
            <h2>Qunielas en Proceso</h2>
            <button mat-flat-button class="action-button" routerLink="/admin/pools/add-pool">
              <mat-icon>add</mat-icon>
              Agregar Quiniela
            </button>
          </div>
          <div class="current__pools--content">
            <div class="current-pool" *ngFor="let pool of exampleData, index as i">
              <p>{{pool.name}}</p>
              <p>{{pool.sport}}</p>
              <p>{{pool.matches}}</p>
              <p class="time-remaining">
                <mat-icon class="me-2">access_time</mat-icon>
                {{pool.timeRemaining}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 mt-5 mt-xl-0">
        <div class="other-pools">
          <div class="current__pools--header">
            <h2>Otras Quinielas</h2>
            <button mat-flat-button class="action-button" routerLink="/admin/pools/list-of-pools">
              <mat-icon>remove_red_eye</mat-icon>
              Ver Lista de Quinielas
            </button>
          </div>
          <div class="current__pools--content">
            <div class="current-pool" *ngFor="let pool of exampleData, index as i">
              <p>{{pool.name}}</p>
              <p>{{pool.sport}}</p>
              <p>{{pool.matches}}</p>
              <p class="time-remaining">
                <mat-icon class="me-2">access_time</mat-icon>
                {{pool.timeRemaining}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="map-widget my-4">
            <app-map></app-map>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="email-widget">
          <form [formGroup]="emailForm" (submit)="sendEmail()">
            <div class="col-12 col-lg-8 offset-lg-2">
              <div class="row">
                <div class="col-12 ">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Seleccione una categoria</mat-label>
                    <mat-select formControlName="category" required>
                      <mat-option value="active-pools">Quinielas Activas</mat-option>
                      <mat-option value="all-pools">Todas Las Quinielas</mat-option>
                      <mat-option value="active-users">Usuarios Activos</mat-option>
                      <mat-option value="all-users">Todos Los Usuarios</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12 ">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Asunto</mat-label>
                    <input matInput type="text" formControlName="subject" autocomplete="off" required>
                  </mat-form-field>
                </div>

                <editor
                  formControlName="message"
                  initialValue="<p>Initial content of the editor</p>"
                  apiKey="gao32appbrwcqujnv5my901uoth7yqbuia0t7j9pbq40nlf8"
                  [init]="{
                  base_url: '/tinymce',
                  suffix: '.min',
                  height: 500,
                  menubar: true,
                  plugins: [
                'advlist autolink lists link image charmap print',
                'preview anchor searchreplace visualblocks code',
                'fullscreen insertdatetime media table paste',
                'help wordcount'
              ],
              toolbar: 'undo redo | formatselect | ' +
              'bold italic backcolor | alignleft aligncenter ' +
              'alignright alignjustify | bullist numlist outdent indent | ' +
              'removeformat | help',
              content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
              }"
                >
                </editor>
              </div>

              <mat-divider class="my-5"></mat-divider>
              <div class="col-12 text-center">
                <div class="col-12 text-center my-4">
                  <button mat-flat-button type="submit" [disabled]="!emailForm.valid" class="action-button">Enviar
                    Correo
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
