<div class="d-flex justify-content-between align-items-center text-white m-4">
  <h1>Inicio</h1>
  <div class="d-flex align-items-center">
    <h3 class="home__link">Coins</h3>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <h3 class="home__link">Balance</h3>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <h3 class="home__link">Recargar</h3>
  </div>
</div>
<div class="container mb-4">
  <div class="row text-center">
    <div class="col-12 col-md-4">
      <div class="home__banner--item" routerLink="football-pools">
        Quinielas Disponibles
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="home__banner--item" routerLink="clients/list-of-clients">
        Usuarios Activos
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="home__banner--item" routerLink="calendar">
        Calendario
      </div>
    </div>
  </div>

  <div class="mt-5 pt-5">
    <figure class="m-0">
      <img src="../../../../assets/gluck-home-ad-1.png" class="main__banner--image" alt="">
    </figure>
    <div class="main__banner--text">
      <h1>Quinielas Calientes</h1>
    </div>
    <figure class="m-0">
      <img src="../../../../assets/gluck-home-ad-1.png" class="main__banner--image" alt="">
    </figure>
  </div>

</div>
