<div class="participants-dialog">
  <h1 mat-dialog-title class="text-center text-white">Participantes </h1>
  <div mat-dialog-content class="register-dialog-content">
    <div *ngFor="let participant of data.participants, index as i">
      <div class="row panel mb-3">
        <div class="col-12 col-sm-1 d-flex justify-content-center align-items-center">
          {{participant.rowid}}
        </div>
        <div class="col-12 col-sm-2 d-flex justify-content-center align-items-center">
          <img class="image" [src]="participant.image" alt="">
        </div>
        <div class="col-12 col-sm-9 d-flex justify-content-center align-items-center">
          <h2 class="m-0">{{participant.username}}</h2>
        </div>
      </div>
    </div>
  </div>
  <mat-dialog-actions class="d-flex flex-column">
    <div class="mb-4">
      <button mat-flat-button color="warn" mat-dialog-close>Atras</button>
    </div>
  </mat-dialog-actions>
</div>
