<!--<div class="d-flex justify-content-between align-items-center text-white m-4">-->
<!--  <h1>Quinielas Disponibles</h1>-->
<!--  <div class="d-flex align-items-center">-->
<!--    <h3 class="home__link m-0" routerLink="/home">Home</h3>-->
<!--    <mat-icon>keyboard_arrow_right</mat-icon>-->
<!--    <h3 class="home__link m-0">Quinielas Disponibles</h3>-->
<!--  </div>-->
<!--</div>-->

<app-breadcrumb [currentView]="'Quinielas Disponibles'" [icon]="'check_circle_outline'"></app-breadcrumb>

<main class="container">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel class="mb-3">
      <mat-expansion-panel-header class="panel">
        <mat-panel-title class="title">
          <div class="d-flex align-items-center">
            <button mat-mini-fab class="title-button">
              <mat-icon>arrow_downward</mat-icon>
            </button>
            1 VS 1
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!--     content-->

      <div *ngIf="oneVsOnePools.length === 0">
        No Data Set...
      </div>
      <div class="mat-elevation-z8 mt-4" *ngIf="oneVsOnePools.length > 0">
        <table mat-table [dataSource]="dataSourceOneVsOne" matSort class="w-100">

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th class="id" mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td class="id" mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="name">
            <th class="pool" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
            <td class="pool" mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="sport">
            <th class="sport" mat-header-cell *matHeaderCellDef mat-sort-header> Deporte</th>
            <td class="sport" mat-cell *matCellDef="let row"> {{row.sport}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="status">
            <th class="status" mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
            <td class="status" mat-cell *matCellDef="let row">
              <div [ngClass]="{'active': row.status === 1, 'inactive': row.status === 0}"><p
                class="m-0">{{row.status === 1 ? 'Activo' : 'Inactivo' }}</p></div>
            </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="date">
            <th class="date" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
            <td class="date" mat-cell *matCellDef="let row"> {{getFormatDate(row.date)}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="participants">
            <th class="participants" mat-header-cell *matHeaderCellDef mat-sort-header> Participantes</th>
            <td class="participants" mat-cell *matCellDef="let row">

              <button mat-flat-button class="dialog-button" (click)="showParticipants(row.id)">	Ver <mat-icon>people</mat-icon></button>
            </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="remainingTime">
            <th class="remaining-time" mat-header-cell *matHeaderCellDef mat-sort-header> Tiempo Restante</th>
            <td class="remaining-time" mat-cell *matCellDef="let row">
            <button mat-flat-button class="dialog-button" (click)="showRemainingTime(row.timeRemaining)">	Ver <mat-icon>access_time</mat-icon></button>
            </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="opts">
            <th class="opts" mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td class="opts" mat-cell *matCellDef="let row">
              <button mat-flat-button aria-label="enter pool" *ngIf="!row.registered" (click)="registerToPool(row)">
                Entrar <mat-icon>exit_to_app</mat-icon>
              </button>
              <button mat-flat-button aria-label="enter pool" *ngIf="row.registered" (click)="goToEditResults(row.id)">
                Editar Resultados <mat-icon>exit_to_app</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

<!--        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>-->
      </div>

    </mat-expansion-panel>
    <mat-expansion-panel class="mb-3">
      <mat-expansion-panel-header class="panel">
        <mat-panel-title class="title">
          <div class="d-flex align-items-center">
            <button mat-mini-fab class="title-button">
              <mat-icon>arrow_downward</mat-icon>
            </button>
            Quinielas Semanales
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!--      content-->

      <div *ngIf="weeklyPools.length === 0">
        No Data Set...
      </div>
      <div class="mat-elevation-z8 mt-4" *ngIf="weeklyPools.length > 0">
        <table mat-table [dataSource]="dataSourceWeekly" matSort class="w-100">

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th class="id" mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td class="id" mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="name">
            <th class="pool" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
            <td class="pool" mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="sport">
            <th class="sport" mat-header-cell *matHeaderCellDef mat-sort-header> Deporte</th>
            <td class="sport" mat-cell *matCellDef="let row"> {{row.sport}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="status">
            <th class="status" mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
            <td class="status" mat-cell *matCellDef="let row">
              <div [ngClass]="{'active': row.status === 1, 'inactive': row.status === 0}"><p
                class="m-0">{{row.status === 1 ? 'Activo' : 'Inactivo' }}</p></div>
            </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="date">
            <th class="date" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
            <td class="date" mat-cell *matCellDef="let row"> {{getFormatDate(row.date)}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="participants">
            <th class="participants" mat-header-cell *matHeaderCellDef mat-sort-header> Participantes</th>
            <td class="participants" mat-cell *matCellDef="let row">

              <button mat-flat-button class="dialog-button" (click)="showParticipants(row.id)">	Ver <mat-icon>people</mat-icon></button>
            </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="remainingTime">
            <th class="remaining-time" mat-header-cell *matHeaderCellDef mat-sort-header> Tiempo Restante</th>
            <td class="remaining-time" mat-cell *matCellDef="let row">
              <button mat-flat-button class="dialog-button" (click)="showRemainingTime(row.timeRemaining)">	Ver <mat-icon>access_time</mat-icon></button>
            </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="opts">
            <th class="opts" mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td class="opts" mat-cell *matCellDef="let row">
              <button mat-flat-button aria-label="enter pool" *ngIf="!row.registered" (click)="registerToPool(row)">
                Entrar <mat-icon>exit_to_app</mat-icon>
              </button>
              <button mat-flat-button aria-label="enter pool" *ngIf="row.registered" (click)="goToEditResults(row.id)">
                Editar Resultados <mat-icon>exit_to_app</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

<!--        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>-->
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mb-3">
      <mat-expansion-panel-header class="panel">
        <mat-panel-title class="title">
          <div class="d-flex align-items-center">
            <button mat-mini-fab class="title-button">
              <mat-icon>arrow_downward</mat-icon>
            </button>
            Qunielas Mensuales
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!--      content-->

      <div *ngIf="monthlyPools.length === 0">
        No Data Set...
      </div>
      <div class="mat-elevation-z8 mt-4" *ngIf="monthlyPools.length > 0">
        <table mat-table [dataSource]="dataSourceMonthly" matSort class="w-100">

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th class="id" mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td class="id" mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="name">
            <th class="pool" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
            <td class="pool" mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="sport">
            <th class="sport" mat-header-cell *matHeaderCellDef mat-sort-header> Deporte</th>
            <td class="sport" mat-cell *matCellDef="let row"> {{row.sport}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="status">
            <th class="status" mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
            <td class="status" mat-cell *matCellDef="let row">
              <div [ngClass]="{'active': row.status === 1, 'inactive': row.status === 0}"><p
                class="m-0">{{row.status === 1 ? 'Activo' : 'Inactivo' }}</p></div>
            </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="date">
            <th class="date" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
            <td class="date" mat-cell *matCellDef="let row"> {{getFormatDate(row.date)}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="participants">
            <th class="participants" mat-header-cell *matHeaderCellDef mat-sort-header> Participantes</th>
            <td class="participants" mat-cell *matCellDef="let row">

              <button mat-flat-button class="dialog-button" (click)="showParticipants(row.id)">	Ver <mat-icon>people</mat-icon></button>
            </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="remainingTime">
            <th class="remaining-time" mat-header-cell *matHeaderCellDef mat-sort-header> Tiempo Restante</th>
            <td class="remaining-time" mat-cell *matCellDef="let row">
              <button mat-flat-button class="dialog-button" (click)="showRemainingTime(row.timeRemaining)">	Ver <mat-icon>access_time</mat-icon></button>
            </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="opts">
            <th class="opts" mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td class="opts" mat-cell *matCellDef="let row">
              <button mat-flat-button aria-label="enter pool" *ngIf="!row.registered" (click)="registerToPool(row)">
                Entrar <mat-icon>exit_to_app</mat-icon>
              </button>
              <button mat-flat-button aria-label="enter pool" *ngIf="row.registered" (click)="goToEditResults(row.id)">
                Editar Resultados <mat-icon>exit_to_app</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

<!--        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>-->
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mb-3">
      <mat-expansion-panel-header class="panel">
        <mat-panel-title class="title">
          <div class="d-flex align-items-center">
            <button mat-mini-fab class="title-button">
              <mat-icon>arrow_downward</mat-icon>
            </button>
            Quinielas Privadas
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!--      content-->

      <div *ngIf="privatePools.length === 0">
        No Data Set...
      </div>
      <div class="mat-elevation-z8 mt-4" *ngIf="privatePools.length > 0">
        <table mat-table [dataSource]="dataSourceprivate" matSort class="w-100">

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th class="id" mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td class="id" mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="name">
            <th class="pool" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
            <td class="pool" mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="sport">
            <th class="sport" mat-header-cell *matHeaderCellDef mat-sort-header> Deporte</th>
            <td class="sport" mat-cell *matCellDef="let row"> {{row.sport}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="status">
            <th class="status" mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
            <td class="status" mat-cell *matCellDef="let row">
              <div [ngClass]="{'active': row.status === 1, 'inactive': row.status === 0}"><p
                class="m-0">{{row.status === 1 ? 'Activo' : 'Inactivo' }}</p></div>
            </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="date">
            <th class="date" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
            <td class="date" mat-cell *matCellDef="let row"> {{getFormatDate(row.date)}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="participants">
            <th class="participants" mat-header-cell *matHeaderCellDef mat-sort-header> Participantes</th>
            <td class="participants" mat-cell *matCellDef="let row">

              <button mat-flat-button class="dialog-button" (click)="showParticipants(row.id)">	Ver <mat-icon>people</mat-icon></button>
            </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="remainingTime">
            <th class="remaining-time" mat-header-cell *matHeaderCellDef mat-sort-header> Tiempo Restante</th>
            <td class="remaining-time" mat-cell *matCellDef="let row">
              <button mat-flat-button class="dialog-button" (click)="showRemainingTime(row.timeRemaining)">	Ver <mat-icon>access_time</mat-icon></button>
            </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="opts">
            <th class="opts" mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td class="opts" mat-cell *matCellDef="let row">
              <button mat-flat-button aria-label="enter pool" *ngIf="!row.registered" (click)="registerToPool(row)">
                Entrar <mat-icon>exit_to_app</mat-icon>
              </button>
              <button mat-flat-button aria-label="enter pool" *ngIf="row.registered" (click)="goToEditResults(row.id)">
                Editar Resultados <mat-icon>exit_to_app</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

<!--        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>-->
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</main>
