
<div class="d-flex" [ngClass]="{'font-weight-bold' : match.winner == 1}">
  <div class="rival">
    <img *ngIf="match.rival1" src="https://www.countryflags.io/{{match.rival1.country_acronym}}/flat/24.png" alt="flag">
    <span (click)="showDetails(match.rival1)" class="cursor-pointer pl-2">
      {{ match.rival1 ? match.rival1.name + ' ' + match.rival1.lastname : '' }}</span>
  </div>
  <div class="score float-right">
    {{match.rival1_score}}
    <div class="icon-live--container"  *ngIf="match.live">
      <img src="assets/icon/live.png" alt="" class="icon-live text-danger">
    </div>
    <!--        <fa-icon [icon]="faEye" class="icon-live text-danger" *ngIf="match.live"></fa-icon>-->
  </div>
</div>
<div class="d-flex" [ngClass]="{ 'font-weight-bold' : match.winner == 2}">
  <div class="rival">
    <img *ngIf="match.rival2" src="https://www.countryflags.io/{{match.rival2.country_acronym}}/flat/24.png" alt="flag">
    <span (click)="showDetails(match.rival2)" class="cursor-pointer pl-2">
      {{ match.rival2 ? match.rival2.name + ' ' + match.rival2.lastname : '' }}</span>
  </div>
  <div class="score float-right">
    {{match.rival2_score}}
  </div>
</div>
