table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.id {
  width: 5%;
}

.status {
  width: 5%;
}

.sport {
  width: 6%;
}

.name {
  width: 6%;
}

.color {
  width: 10%;
  text-align: center;
  font-width: bold;
}

.color > span {
  padding: 0 8px;
  margin-right: 3px;
  border-radius: 50%;
}

.lastLogin {
  width: 10%;
}

.color:hover, .name:hover, .id:hover, .lastLogin:hover, .status:hover, .sport:hover {
  cursor: pointer;
}

.opts {
  width: 6%;
}

.listOf__users--wrapper {
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 15px;
  margin-bottom: 1rem;
  min-height: 700px;
}

.active {
  /* padding: 0.5rem; */
  color: white;
  background-color: #4caf50;
  border-radius: 15px;
  text-align: center;
  width: 50%;
  font-size: 12px;
}

.inactive {
  /* padding: 0.5rem; */
  color: white;
  background-color: red;
  border-radius: 15px;
  text-align: center;
  width: 50%;
  font-size: 12px;
}

.home__link:hover {
  color: #F6DD06;
  cursor: pointer;
}

.badge {
  color: black;
  background-color: #F6DD06;
  border: 1px solid black;
  border-radius: 15px;
}

.add-user {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.add-user:hover {
  color: #F6DD06;
  background-color: #333232;
  border-radius: 15px;
  cursor: pointer;
}

.limit-text {
  inline-size: 230px;
  overflow-wrap: break-word;
}
