<div class="d-flex justify-content-between text-white m-4">
  <div class="d-flex align-items-center">
    <mat-icon class="mx-3">business_center</mat-icon><h1 class="m-0">Lista de Quinielas</h1> <span class="mt-2 mx-4 badge">Admin</span>
  </div>
  <div class="d-flex align-items-center">
    <div class="d-flex align-items-center home__link" routerLink="/admin">
      <mat-icon>home</mat-icon>
      <h3 class="m-0">Home</h3>
    </div>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <h3 class="m-0">Lista de Quinielas</h3>
  </div>
</div>

<div class="container">
  <div class="container listOf__users--wrapper">
    <div class="row">
      <div class="col-12 col-md-10">
        <mat-form-field appearance="standard">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Pepito perez" #input>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-2 d-flex align-items-center justify-content-center">
        <div class="add-user" routerLink="/admin/pools/add-pool">
          <mat-icon>add</mat-icon>
          <p class="m-0">Crear Quiniela</p>
        </div>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="rowid">
          <th class="id" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td class="id" (click)="goToDetail(row.status, row.rowid)" mat-cell *matCellDef="let row"> {{row.rowid}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="name">
          <th class="name" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td class="name" (click)="goToDetail(row.status, row.rowid)" mat-cell *matCellDef="let row"> <p class="limit-text">{{row.name}}</p> </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="sport">
          <th class="sport" mat-header-cell *matHeaderCellDef mat-sort-header> Deporte </th>
          <td class="sport" (click)="goToDetail(row.status, row.rowid)" mat-cell *matCellDef="let row"> {{row.sport ? row.sport.name : ''}} </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="status">
          <th class="status" mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
          <td class="status" (click)="goToDetail(row.status, row.rowid)" mat-cell *matCellDef="let row"> <div [ngClass]="{'active': row.status === 1, 'inactive': row.status !== 1}"><p class="m-0">{{row.status === 1 ? 'Activo' : 'Inactivo' }}</p></div> </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="date_Create">
          <th class="lastLogin" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Registro </th>
          <td class="lastLogin" (click)="goToDetail(row.status, row.rowid)" mat-cell *matCellDef="let row"> {{row.date_Create}} </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="color">
          <th class="color" mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
          <td class="color" (click)="goToDetail(row.status, row.rowid)" mat-cell *matCellDef="let row"> <span [style]="{'background-color': row.color}" *ngIf="row.color"></span>  {{row.color ? row.color : 'No Color ...'}}</td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="opts">
          <th class="opts" mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
          <td class="opts" mat-cell *matCellDef="let row">
<!--            <div *ngIf="row.status !== 2">-->
              <button mat-icon-button aria-label="edit" (click)="editPool(row.rowid)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button aria-label="delete"(click)="deletePool(row)" >
                <mat-icon>delete</mat-icon>
              </button>
<!--            </div>-->
<!--            <button mat-icon-button aria-label="goToDetail"(click)="goToDetail(row.rowid)" >-->
<!--              <mat-icon>exit_to_app</mat-icon>-->
<!--            </button>-->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay data para mostrar en esta tabla..."{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>
  </div>
</div>
