<div class="home__wrapper">
  <mat-drawer-container class="example-container mat-typography" autosize>
    <mat-drawer #drawer mode="side" disableClose="true" opened="true">
      <mat-nav-list class="nav__list">
        <figure class="logo__expanded" routerLink="/home" >
          <img src="../../../assets/logo.png" width="200px" alt="">
        </figure>
        <figure class="avatar">
          <img src="../../../assets/example-user.png" alt="">
        </figure>
        <h2 *ngIf="isExpanded" class="welcome__message">¡Bienvenido/a Jose!</h2>
        <mat-list-item [ngClass]="{'nav__list--item--padding': isExpanded}"  routerLink="/profile" class="sidenav__item">
          <mat-icon mat-list-icon>person</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Editar Perfil</h4>
        </mat-list-item>
        <mat-list-item [ngClass]="{'nav__list--item--padding': isExpanded}" (click)="showFootballPoolsOptions()"  class="sidenav__item">
          <mat-icon mat-list-icon>business_center</mat-icon>
          <h4 mat-line class="d-flex align-items-center" *ngIf="isExpanded">
            Quinielas
            <mat-icon *ngIf="!footballPoolsOptions" >keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="footballPoolsOptions" >keyboard_arrow_down</mat-icon>
          </h4>
        </mat-list-item>
        <mat-list-item class="sidenav__item--expanded" *ngIf="footballPoolsOptions" routerLink="/football-pools">
          <mat-icon mat-list-icon>list</mat-icon>
          <h4 mat-line>Lista de Quinielas</h4>
        </mat-list-item>
        <mat-list-item class="sidenav__item--expanded" *ngIf="footballPoolsOptions" routerLink="/results">
          <mat-icon mat-list-icon>done_outline</mat-icon>
          <h4 mat-line>Resultados</h4>
        </mat-list-item>
        <mat-list-item [ngClass]="{'nav__list--item--padding': isExpanded}"  routerLink="/calendar" class="sidenav__item">
          <mat-icon mat-list-icon>calendar_today</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Calendario</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>folder_shared</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Management X</h4>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
  </mat-drawer-container>

  <main>
    <app-header
      (toggleValue)="toggleValue($event)"
    ></app-header>
    <router-outlet></router-outlet>
    <div>footer</div>
  </main>

</div>
