.home__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.nav__list--item--padding {
  margin: 0 10rem 0 0!important;
}

main {
  width: 100% !important;
  height: 100% !important;
  background-color: #333232 !important;
  overflow: auto;
}

.sidenav__item {
  color: white;
}

.sidenav__item:hover {
  color: #F6DD06;
  background-color: #333232;
}

.nav__list {
  height: 100%;
  background-color: black;
}

.logo__expanded {
  max-width: 17rem;
  text-align: center;
}

.logo__expanded > img {
  max-width: 200px;
  max-height: 200px;
  width: 75%;
  height: auto;
}

.logo__expanded:hover {
  cursor: pointer;
}

.avatar {
  max-width: 17rem;
  text-align: center;
}

.avatar > img {
  max-width: 150px;
  max-height: 150px;
  width: 75%;
  height: auto;
  border-radius: 75px;
}

