<app-loader [loading]="showLoader"></app-loader>
<div class="d-flex justify-content-between text-white m-4">
  <div class="d-flex align-items-center">
    <h1 class="m-0">Notificaciones</h1> <span class="mt-2 mx-4 badge">Via Email</span>
  </div>
  <div class="d-flex align-items-center">
    <div class="d-flex align-items-center home__link" routerLink="/admin">
      <mat-icon>home</mat-icon>
      <h3 class="m-0">Home</h3>
    </div>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <h3 class="m-0">Email</h3>
  </div>
</div>

<div class="container">
  <div class="container profile__wrapper mb-3">
    <div class="row">
      <form [formGroup]="emailForm" (submit)="sendEmail()">
        <div class="col-12 col-md-8 offset-md-2">
          <div class="row">
            <div class="col-12 ">
              <mat-form-field appearance="outline" class="dual__input--item">
                <mat-label>Seleccione una Categoria</mat-label>
                <mat-select formControlName="category" required>
                  <mat-option>- Seleccione una categoria -</mat-option>
                  <mat-option value="active-pools">Quinielas Activas</mat-option>
                  <mat-option value="all-pools">Todas Las Quinielas</mat-option>
                  <mat-option value="active-users">Usuarios Activos</mat-option>
                  <mat-option value="all-users">Todos Los Usuarios</mat-option>
                  <mat-option value="manual-selection">Seleccion Manual de usuarios</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12" *ngIf="emailForm.value.category === 'manual-selection'">
              <mat-form-field appearance="outline" class="dual__input--item">
                <mat-label>Seleccione Los Usuarios</mat-label>
                <mat-select formControlName="manualSelection" multiple>
                  <mat-option *ngFor="let user of users" [value]="user.rowid">{{ user.username }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12 ">
              <mat-form-field appearance="outline" class="dual__input--item">
                <mat-label>Asunto</mat-label>
                <input matInput type="text" formControlName="subject" autocomplete="off" required>
              </mat-form-field>
            </div>

            <editor
              formControlName="message"
              initialValue="<p>Initial content of the editor</p>"
              apiKey= "gao32appbrwcqujnv5my901uoth7yqbuia0t7j9pbq40nlf8"
              [init]="{
              base_url: '/tinymce',
              suffix: '.min',
              height: 500,
              menubar: true,
              plugins: [
                'advlist autolink lists link image charmap print',
                'preview anchor searchreplace visualblocks code',
                'fullscreen insertdatetime media table paste',
                'help wordcount'
              ],
              toolbar: 'undo redo | formatselect | ' +
              'bold italic backcolor | alignleft aligncenter ' +
              'alignright alignjustify | bullist numlist outdent indent | ' +
              'removeformat | help',
              content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
              }"
            >
            </editor>
          </div>

          <mat-divider class="my-5"></mat-divider>
          <div class="col-12 text-center">
            <div class="col-12 text-center my-4">
              <button mat-flat-button type="submit" [disabled]="!emailForm.valid" class="submit">Enviar Correo</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

