.yellow-panel {
  background-color: #F6DD06;
  color: black;
  padding: 1rem;
  border-radius: 25px;
}

.team-image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.limit-text {
  inline-size: 230px;
  overflow-wrap: break-word;
}

.panel  {
  background-color: lightgray;
  border-radius: 25px;
}

.min-height {
  min-height: 700px;
}



.user-panel {
  background-color: lightgray;
  color: black;
  border-radius: 25px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.pool-image {
  width: 75px;
  height: 75px;
  border-radius: 50px;
}

.border-right {
  border-right: 1px solid gray;
}

@media screen and (max-width: 650px) {
  .user-image {
    width: 60px !important;
    height: 60px !important;
  }
  .user-stats {
    font-size: 18px;
  }
}

