.register-dialog {
  width: 400px;
  height: 600px;
  background-color: black;
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

h1 {
  font-size: 32px;
  color: #F6DD06;
}

h2 {
  color: white;
}

h1, h2 {
  font-weight: bold;
}

h2 > span {
  font-weight: normal;
}

.register-button {
  color: black;
  background-color: #F6DD06;
}

