<div class="register-dialog">
  <h1 mat-dialog-title class="text-center">{{data.title}}</h1>
  <div mat-dialog-content class="register-dialog-content">
    <div class="text-center">
      <img [src]="data.image" class="image" alt="image">
    </div>
    <h1 class="text-center my-4">
      Bienvenido/a {{data.user}}
    </h1>
    <h2 class="text-center">Costo: <span>{{data.cost}}</span></h2>
    <h2 class="text-center">Premio: <span>{{data.prize}}</span></h2>
    <h2 class="text-center">participantes: <span>{{data.participants}}</span></h2>
  </div>
  <mat-dialog-actions class="d-flex flex-column">
    <div class="mb-4">
      <button mat-flat-button color="warn" (click)="dialogRef.close(undefined)">Cancelar</button>
      <button mat-flat-button class="register-button" (click)="ShowRules(data.rulesImage)" cdkFocusInitial>Reglas
      </button>
    </div>
    <div>
      <input class="input" [(ngModel)]="data.password" (keyup.enter)="dialogRef.close(data.password)" type="password" placeholder="Clave de Quiniela">
      <button class="send-button" mat-mini-fab [mat-dialog-close]="data.password">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </mat-dialog-actions>
</div>
