<button mat-mini-fab class="mx-4 action-button" (click)="goBack()" *ngIf="currentRoute !== '' && isMobile">
  <mat-icon>arrow_back</mat-icon>
</button>
<div class="breadcrumb-wrapper text-white m-4">
  <div class="d-flex align-items-center">
    <mat-icon class="mx-3">{{ icon }}</mat-icon>
    <h1 class="page-title">{{ currentView }}</h1> <span class="mt-2 mx-4 px-2 badge-account">{{ accountType }}</span>
  </div>
  <div class="d-flex align-items-center " *ngIf="currentRoute !== '' && !isMobile">
    <div class="d-flex align-items-center home__link" [routerLink]="[baseRoute]">
      <mat-icon>home</mat-icon>
      <h3 class="m-0">{{ baseRoute }}</h3>
    </div>
<!--    <mat-icon>keyboard_arrow_right</mat-icon>-->
    <h3 class="m-0">{{ currentRoute }}</h3>
  </div>
</div>
