<div style="display: grid; place-items: center; min-height: 80vh;">
  <div class="bg-white p-5 text-center">
<!--    <img src="../../../assets/retry.png" width="350" alt="">-->
    <h2>Necesitas validar el codigo de nuevo ? </h2>
    <div class="d-flex flex-column">
      <button mat-button (click)="refreshPage()" style="background-color: #F6DD06; color: black;">Haz click aqui</button>
      <a routerLink="" style="text-decoration: underline; cursor: pointer; margin: 1rem">Volver al home</a>
    </div>
  </div>
</div>
