<div class="container profile__wrapper mb-3">
  <div class="row">
    <form [formGroup]="updateProfileForm" (submit)="submitForm()">
      <div class="col-12 col-lg-8 offset-lg-2">
        <div class="row">
          <div class="col-12 text-center">
            <figure class="avatar__wrapper">
              <img [src]="imageData ? imageData : '../../../../assets/example-user.png'" class="avatar" alt="">
              <button class="avatar__button" type="button" mat-fab aria-label="change picture" (click)="openUploadFiles()">
                <mat-icon>camera_alt</mat-icon>
              </button>
              <input
                #inputFiles
                style="display: none"
                type="file"
                (change)="handleUpload($event)"
              />
            </figure>
          </div>
          <mat-divider class="my-5"></mat-divider>
          <div class="row">
            <div class="col-12 text-center">
              <h1>Informacion Personal</h1>
            </div>
            <div class="col col-md-6 text-center">
              <mat-form-field appearance="outline" class="dual__input--item">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="name" placeholder="Nombre" autocomplete="off">
              </mat-form-field>
            </div>
            <div class="col col-md-6 text-center">
              <mat-form-field appearance="outline" class="dual__input--item">
                <mat-label>Apellido</mat-label>
                <input matInput type="text" formControlName="lastname" placeholder="Apellido" autocomplete="off">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 text-center">
              <mat-form-field appearance="outline" class="dual__input--item">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput type="text" formControlName="username" placeholder="Ej. pepito12345" autocomplete="off">
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6 text-center">
              <mat-form-field appearance="outline" class="dual__input--item">
                <mat-label>Correo Electronico</mat-label>
                <input matInput type="text" formControlName="email" placeholder="Ej. correo@correo.com"
                       autocomplete="off">
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field appearance="outline" class="dual__input--item">
                <mat-label>Numero de Telefono</mat-label>
                <input matInput type="number" formControlName="phone" placeholder="Ej. 04244557895" autocomplete="off">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <mat-form-field appearance="outline" class="unique__input--item">
                <mat-label>Contrasena</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Contrasena"
                       autocomplete="off">
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <mat-divider class="my-5"></mat-divider>
          <div class="row">
            <div class="col-12 text-center">
              <h1>Informacion de Domicilio</h1>
            </div>
            <div class="col-12 text-center">
              <mat-form-field appearance="outline" class="unique__input--item">
                <mat-label>Direccion</mat-label>
                <input matInput type="text" formControlName="address" placeholder="Ej. Calle 185 A 125-371 Av..."
                       autocomplete="off">
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-4 text-center">
              <mat-form-field appearance="outline" class="dual__input--item">
                <mat-label>Estado</mat-label>
                <input matInput type="text" formControlName="state" placeholder="Ej. Carabobo" autocomplete="off">
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-4 text-center">
              <mat-form-field appearance="outline" class="dual__input--item">
                <mat-label>Ciudad</mat-label>
                <input matInput type="text" formControlName="city" placeholder="Ej. Valencia" autocomplete="off">
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-4 text-center">
              <mat-form-field appearance="outline" class="dual__input--item">
                <mat-label>Codigo Postal</mat-label>
                <input matInput type="number" formControlName="code" placeholder="Ej. 2005" autocomplete="off">
              </mat-form-field>
            </div>
          </div>
          <mat-divider class="my-5"></mat-divider>
          <div class="col-12 text-center">
            <div class="col-12 text-center my-4">
              <button mat-flat-button class="submit" type="submit">Actualizar Informacion</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
