.home__banner--item {
  background-color: #fff;
  color: #000000;
  font-weight: 500;
  padding: 4rem 0;
  margin-bottom: 1rem;
  font-size: 26px;
  border-radius: 25px;
  border: 1px solid #333232;
}


.home__banner--item:hover, .home__banner--item:focus {
  color: #F6DD06;
  background-color: black;
  cursor: pointer;
}

.main__banner--text {
  background-color: white;
  text-align: center;
  padding: 4rem;
  margin: 1rem 0;
}
.main__banner--text:hover {
  cursor: pointer;
  background-color: #000000;
  color: #F6DD06;
}



.main__banner--text > h1 {
  line-height: 4rem;
}

.main__banner--text > h1 {
  font-size: 42px;
  font-weight: bold;
}

.main__banner--image {
  max-width: 100%;
  min-height: 250px;
  height: auto;
  border: 10px solid white;
}

@media (max-width: 768px ) {
  .home__banner--item {
    max-width: 20rem;
    margin: 1rem auto;
  }
}
