.home__banner--item {
  background-color: #fff;
  color: #000000;
  font-weight: 600;
  padding: 4rem 0;
  margin-bottom: 1rem;
  font-size: 26px;
  border-radius: 25px;
  border: 1px solid #333232;
}

.bg-green {
  background-color: green;
  color: white;
  font-size: 12px;
  padding: .3rem 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.bg-red {
  background-color: red;
  color: white;
  font-size: 12px;
  padding: .3rem 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
}



.home__banner--item:hover, .home__banner--item:focus {
  color: #F6DD06;
  background-color: black;
  cursor: pointer;
}

.main__banner--text {
  background-color: white;
  text-align: center;
  padding: 4rem;
  margin: 1rem 0;
}
.main__banner--text:hover {
  cursor: pointer;
  background-color: #000000;
  color: #F6DD06;
}



.main__banner--text > h1 {
  line-height: 4rem;
}

.main__banner--text > h1 {
  font-size: 42px;
  font-weight: bold;
}

.main__banner--image {
  width: 100%;
  height: 250px;
  border: 10px solid white;
}

@media (max-width: 768px ) {
  .home__banner--item {
    max-width: 20rem;
    margin: 1rem auto;
  }
}

.current-pools {
  background-color: white;
  border-radius: 15px;
  color: black;
  min-height: 300px;
  padding: 1rem;
}

.current__pools--header {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 450px){
  .current__pools--header {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .current__pools--content {
    height: auto !important;
    overflow-y: hidden !important;
  }
  .current-pool {
    flex-direction: column;
  }
  .current-pool > p {
    margin: 0.5rem 0 !important;
  }
}
.current-pool {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: lightgray;
  margin: 0.5rem 0;
  padding: 0.25rem 1rem;
  border-radius: 15px;
}

.current-pool > p {
  margin: 0;
}

.current__pools--content {
  height: 500px;
  overflow-y: auto;
  margin-top: 0.5rem;
}


.bg-green {
  background-color: green;
  padding: .3rem 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.bg-red {
  background-color: red;
  padding: .3rem 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

