<div class="row text-center">
  <div class="col-12 col-md-4">
    <div class="home__banner--item" routerLink="pools">
      Quinielas Disponibles
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="home__banner--item" routerLink="pools/my-pools">
      Mis Quinielas
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="home__banner--item" routerLink="profile">
      Mi Perfil
    </div>
  </div>
</div>

<div class="mt-5 pt-5">
  <figure class="m-0">
    <img src="../../../../assets/banner-1-gluck.png" class="main__banner--image" alt="">
  </figure>
  <div class="main__banner--text" (click)="goToExternalUrl('https://glucktv.com/inicio')">
    <h1>Quinielas Calientes</h1>
  </div>
  <figure class="m-0">
    <img src="../../../../assets/banner-2-gluck.png" class="main__banner--image" alt="">
  </figure>
</div>
