<nav class="header">
  <button mat-icon-button (click)="toggle()" class="toggle__button">
    <mat-icon aria-label="Menu">menu</mat-icon>
  </button>
  <div class="d-flex align-items-center">
    <button mat-icon-button  class="notification__button">
      <mat-icon matBadge="15" matBadgeColor="warn" aria-label="Notifications">notifications</mat-icon>
    </button>
    <div class="profile__options">
      <mat-icon aria-label="Person">person</mat-icon>
      <p class="m-0">jose</p>
    </div>
  </div>
</nav>
