.header {
  background-color: #000;
  color: white;

}

.notification__button {
  margin: 10px;
  color: white;
}

.toggle__button {
  margin: 10px;
  color: #F6DD06;
}

.profile__options {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.profile__options:hover {
  color: #F6DD06;
  cursor: pointer;
}

.user__options {
  background-color: white;
  color: black;
  position: absolute;
  top: 6%;
  right: 1%;
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  z-index: 100;
}

.user__options--image {
  width: 170px;
  border-radius: 50%;
}

.title {
  font-size: 22px;
}


.black-background {
  background-color: #333232;
  color: white;
  border: 1px solid white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.white-background {
  background-color: white;
}

.user__options--buttons {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.close-button {
  width: 1.5rem;
  text-align: center;
  padding: 0;
  border: none;
  border-radius: 45px;
  right: -7px;
  top: 4px;
  position: absolute;
  background-color: #f44336;
  color: white;
  font-weight: bold;
}

.coins {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.coins > p {
  display: flex;
  align-items: center;
  color: #F6DD06;
  margin: 0;
}

.coins > h5 {
  margin: 0;
}

.money {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 1rem;
}

.money > p {
  display: flex;
  align-items: center;
  color: green;
  margin: 0;
}

.money > h5 {
  margin: 0;
}

.recharge-button {
  border-radius: 25px;
  color: black;
  background-color: #F6DD06;
  padding: 0 1rem;
}

