<div class="d-flex justify-content-between align-items-center text-white m-4">
  <h1>Quinielas</h1>
  <div class="d-flex align-items-center">
    <h3 class="home__link m-0" routerLink="/home">Home</h3>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <h3 class="home__link m-0">Quinielas</h3>
  </div>
</div>

<div class="container text-white">
  <div class="row">
    <div class="col-12 col-md-6 mb-5" *ngFor="let pool of pools">
      <h1>{{pool.name}}</h1>
      <span class="mx-3" *ngIf="pool.disabled">Proximamente...</span>
      <img [ngClass]="pool.disabled
       ? 'image-disabled'
       : 'pool-image'" (click)="!pool.disabled ? goToPool(pool.id) : null" [src]="pool.img" alt="">
    </div>
  </div>
</div>
